.productContainer {
  margin: 0 auto;
  width: 80%;
  max-width: 1440px;
  &_header {
    width: 100%;
    h1 {
      font-family: "Rubik", sans-serif;
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    &_settings {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      &_info {
        p {
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #9b9b9b;
        }
      }
      &_setting {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: auto;
        &_menu {
          background: transparent;
          padding: 0 15px;
          font-family: "Rubik", sans-serif;
          font-size: 12px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 1px;
          color: #000000;
          height: 42px;
          border-radius: 6px;
          max-width: 220px;
          border: solid 2px #d9d9d9;
          @media screen and (max-width: 768px) {
            width: 70%;
            max-width: 220px;
          }
          @media screen and (max-width: 480px) {
            width: 100%;
            max-width: initial;
          }
        }
        &_view {
          &_box {
            display: flex;
            padding: 11px;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            margin: 0 10px;
            width: 42px;
            height: 42px;
            border-radius: 6px;
            background-color: #d9d9d9;
            span {
              margin: 1px;
              width: 7px;
              height: 7px;
              border: solid 2px #616161;
            }
            &:hover {
              background-color: rgba(88, 169, 75, 0.3);
              span {
                border: solid 2px #58a94b;
              }
            }
          }
          &_burg {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin: 0 10px;
            width: 42px;
            height: 42px;
            border-radius: 6px;
            background-color: #d9d9d9;
            span,
            span::before,
            span::after {
              display: block;
              position: absolute;
              width: 50%;
              height: 2px;
              background-color: #616161;
            }
            span::before {
              content: "";
              width: 100%;
              top: -8px;
            }
            span::after {
              content: "";
              width: 100%;
              top: 8px;
            }
            &:hover {
              background-color: rgba(88, 169, 75, 0.3);
              span,
              span::before,
              span::after {
                background-color: #58a94b;
              }
            }
          }
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  &_prducts {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    &_setting {
      // flex: 1;
      width: 20%;
      padding-top: 10px;
      // width: 30%;
      @media screen and (max-width: 768px) {
        width: 100%;
        flex: none;
      }
    }
    &_goods {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // flex: 3;
      // width: 68%;
      @media screen and (max-width: 768px) {
        width: 100%;
        flex: none;
      }
      @media screen and (max-width: 480px) {
        justify-content: center;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
